.characterInformationsTitle {
    font-size: 24px;
    margin-bottom: 30px;
    color: rgba(142, 142, 147, 1);
}
.characterInformationsColumn {
    display: flex;
    flex-direction: column;
}
.characterInformationsColumnItem {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.characterInformationsColumnItem::after {
    content: '';
    height: 1px;
    min-width: 340px;
    margin: 20px 0;
    background-color: rgba(189, 189, 189, 0.582);
}
.characterInformationsItemTitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}
.characterInformationsItemText {
    font-weight: 400;
    font-size: 14px;
    color: rgba(110, 121, 140, 1)
}
.locationLink {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
.locationLink:hover {
    background-color: rgba(241, 241, 241, 0.705);
}
.locationArrowLink {
    position: absolute;
    top: 18px;
    right: 0;
}